<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .row {
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #extra {
            padding: 55px;
        }

        .msgGreen {
            color: #28a745;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="row">
    <div id="extra" class="col-sm-offset-1 col-sm-10">
        <center class="msgGreen">It seems that you have already reset your password or the Reset password link has expired.<br><br>If not, please contact <a href="mailto:teaminnovate.api@gmail.com">teaminnovate.api@gmail.com</a> for help.</center>
    </div>
</div>
</body>
</html>
