body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #3f87a6, #ebf8e1, #f69d3c);
    animation: backgroundChange 10s ease-in-out infinite;
    overflow: hidden;
}

@keyframes backgroundChange {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.container {
    /* width: 20%; */
    max-width: 200;
    font-size: 18px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #101010;
}
/* div.register{
    width: 50%;
    max-width: 600;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #101010;
}
form#register{
    margin: 40px;
} */

.forgot-password-form {
    text-align: center;
}

.forgot-password-form h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.forgot-password-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

.forgot-password-form .user-box {
    margin-bottom: 15px;
}

.forgot-password-form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.forgot-password-form button:hover {
    background-color: #0056b3;
}